{% extends 'base.html.twig' %}

{% block title %}Nouvelle écurie{% endblock %}

{% block body %}
    <div class="page-header">
        <h1>Nouvelle écurie</h1>
    </div>

    {{ include('team/_form.html.twig') }}

    <div class="page-actions">
        <a href="{{ path('app_team_index') }}" class="btn btn-outline">← Retour</a>
    </div>
{% endblock %}
