{% extends 'base.html.twig' %}

{% block title %}New Driver{% endblock %}

{% block body %}
    <h1>Nouveau pilote</h1>

    {{ include('driver/_form.html.twig') }}

    <div class="page-actions">
        <a href="{{ path('app_driver_index') }}" class="btn btn-outline">← Retour</a>
    </div>
{% endblock %}
