{% extends 'base.html.twig' %}

{% block title %}New Game{% endblock %}

{% block body %}
    <div class="page-header">
        <h1>Nouveau Grand Prix</h1>
    </div>

    {{ include('game/_form.html.twig') }}

    <div class="page-actions">
        <a href="{{ path('app_game_index') }}" class="btn btn-outline">← Retour</a>
    </div>
{% endblock %}
