{% extends 'base.html.twig' %}

{% block title %}New DriverRating{% endblock %}

{% block body %}
    <h1>Create new DriverRating</h1>

    {{ include('driver_rating/_form.html.twig') }}

    <a href="{{ path('app_driver_rating_index') }}">back to list</a>
{% endblock %}
