{% extends 'base.html.twig' %}

{% block title %}New DriverRating{% endblock %}

{% block body %}
    <div class="page-header">
        <h1>Nouvelle note</h1>
    </div>

    {{ include('driver_rating/_form.html.twig') }}

    <div class="page-actions">
        <a href="{{ path('app_driver_rating_index') }}" class="btn btn-outline">← Retour</a>
    </div>
{% endblock %}
